:root {
    --start-header-width: 390px;
}
body {
    margin: 0;
    background: #0e1111;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

.start-header {
    max-width: var(--start-header-width);
    position: absolute;
    top: calc(50% - 32px); left: 50%;
    transform-origin: top left;
    transform: rotate(-5deg) translate(-50%, -50%);
    z-index: 2;
}

.start-header.to-the-left {
    left: 32px; top: 50%;
    transform: translateY(-50%) translateX(0) rotate(-5deg);
    transition: all 300ms ease-in-out;
}

.start-header h1 {
    position: relative;
    /* gradient from: https://uigradients.com */
    background: linear-gradient(to right, #F5B648, #E7DE3F);
    /* the magic */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 108px;
    margin: 0 0 32px;
}

.start-header h1:after {
    content: attr(data-text);
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    text-shadow:
            0.005em 0.005em 0 #5c5919,
            0.01em 0.01em 0 #5c5919,
            0.015em 0.015em #5c5919,
            0.02em 0.02em 0 #5c5919,
            0.025em 0.025em 0 #5c5919,
            0.03em 0.03em 0 #5c5919,
            0.035em 0.035em 0 #5c5919;
}

.btn {
    position: relative;
    border: none;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px 13px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
    border-radius: 5px;
    animation: breathing 5s ease-out infinite normal;
}

.btn:hover {
    transition: padding-bottom 300ms;
    padding-bottom: 10px;
    animation-play-state: paused;
}

.btn-start {
    background: linear-gradient(to right, #F5B648, #E7DE3F);
    color: #fafafa;
    transition: none;
}

.grid {
    display: grid;
    height: 100%; width: 100%;
    grid-template-columns: calc(var(--start-header-width) + 96px) calc(100% - (var(--start-header-width) + 96px));
}

.beer-section {
    display: grid;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    justify-content: center;
    max-width: 50%;
    width: fit-content;
    margin: 0 auto;
    background: white;
    color: black;
    padding: 36px 36px;
    border-radius: 32px;
    opacity: 0;
}

.beer-section.active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.beer-thumbnail {
    display: block;
    height: 50vh;
    margin: 0 auto;
}

.beer-section h1 {
    margin-bottom: 0;
}

.beer-section p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.beer-section ul {
    margin-top: 0;
}

@keyframes breathing {
    0% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.9);
    }
}
